<!DOCTYPE html>
<html>
<head>
    <title>Ma todolist</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>
<h1>Ma todolist</h1>

<form action="/" method="post" id="formulaire_message">
    <p>
        <label for="message">Que dois-je faire ?</label>
        <input type="text" name="message" id="message" autofocus/>
        <input type="submit"/>
    </p>
</form>

<button id="reset" type="reset">enlever tout</button>

<ul id="zone_message">
    <% todolist.forEach(function(todo) { %>
        <li onclick="suppress(this);"><a>✘</a> <%= todo %></li>
    <% }); %>
</ul>

<h1>Mon fileUpload</h1>

<form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
    <input type="file" name="imgUploader" multiple />
    <input type="submit" name="submit" id="btnSubmit" value="Upload" />
</form>

<div id="images"></div>

<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.2.2/dist/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function () {
        // bind to the form's submit event
        $('#frmUploader').submit(function (e) {
            e.preventDefault(); // prevent native submit
            $(this).ajaxSubmit(options = {});
        });
    });

    // Connexion à socket.io
    var socket = io.connect('http://localhost:8081');

    // Quand on reçoit un message, on l'insère dans la page
    socket.on('add_message', function (data) {
        insereMessage(data.message)
    });

    socket.on('remove_message', function (data) {
        removeMessage(data.index)
    });

    socket.on('remove_all', function () {
        removeAll();
    });

    socket.on('new_file', function (data) {
        $('#images').html('<img class="logo" src="http://localhost:8081/images/'+data.fileName+'" alt="My_Logo">')
        console.log(data.fileName);
    });

    $("#reset").click(function() {
        socket.emit('remove_all');
    });

    // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
    $('#formulaire_messagae').submit(function () {
        var message = $('#message').val();
        socket.emit('add_message', message);
        $('#message').val('').focus();
        return false;
    });

    function suppress(element) {
        var index = $("li").index(element)+1;
        socket.emit('remove_message', index);
    }

    // Ajoute un message dans la page
    function insereMessage(message) {
        var zoneMessage = $('#zone_message');
        zoneMessage.append('<li onclick="suppress(this);"><a>✘</a> ' + message + '</li>');
    }

    function removeMessage(index) {
        $("#zone_message li").eq(index-1).remove();
    }

    function removeAll(){
        $("#zone_message").empty();
    }
</script>
</body>
</html>